<template>
<section>
    <div class="grid">
        <div class="texte">
            <h1>Bienvenue sur mon Site</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatibus sit veniam rem eaque nesciunt maxime quam, tempore iusto asperiores doloribus minima quidem obcaecati similique fugiat aperiam debitis officia dicta? </p>
        </div>
        <div class="img">
            <img src="../assets/accueil/circle-texte.svg" alt="" class="crc">
            <img src="../assets/accueil/accueil-img.png" alt="" class="brune">
            <img src="../assets/accueil/accueil-dot.svg" alt="" class="dot">
        </div>
    </div>
</section>
</template>

<script>

</script>


<style scoped>
div.grid{
    position: relative;
    display: grid;
    grid-template-columns: 35vw 65vw;
    align-items: center;
    justify-items: center;
    /* top: 10vh;  à remettre quand tous est fini*/
}
div.texte{
    position: relative;
    left: 3vw;
}

div.texte h1{
    font-size: 85px;
    /* width: 25vw; */
}

div.texte p{
    font-size: 20px;
    line-height: 143%;
    padding: 5vh 0 5vh 2.5vw;
}


div.img img.brune{
    /* background-color: brown; */
    width: 50vw;
}
div.img img.crc{
    position: absolute;
    right: 7.5%;
    top: 25%;
    width: 12.5vw;
    height: auto;
    animation: rotation 20s infinite linear;
}
@keyframes rotation{
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(-180deg);
    }
    100%{
        transform: rotateZ(-360deg);
    }
}

div.img img.dot{
    position: absolute;
    z-index: -1;
    right: 2.5%;
    top: 27.5%;
    width: 12.5vw;
    /* animation: rotation 20s infinite linear; */
}

</style>