<template>
<section>
    <footer>
        <h1>Contact</h1>
        <div class="flex">
            <div class="link">
                <a href="">Contact@bruneBnd.fr</a>
                <a href="">+33 6 40 30 05 55</a>
            </div>
                <img src="../assets/contact/contact-img.png" alt="">
        </div>
    </footer>
</section>

</template>

<style scoped>

h1{
    z-index: 9;
    position: relative;
    text-align: center;
    font-size: 120px;
    padding: 0 5px;
    margin: 0 5px;
}
h1:after{
    z-index: -1;
    content: '';
    position: absolute;
    background-color: #E4C1F9;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    height: 145px;
    width: 341px;
}

div.flex{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.flex .link{
    display: flex;
    flex-direction: column;
    padding: 5vw;
    line-height: 12.5vh;
}

div.flex .link a{
    color: #000;
    text-decoration: none;
    font-size: 55px;
    letter-spacing: 0.07em;
}

div.flex img{
    width: 25vw
}

</style>