<template>
<section>
    <h1>Mes Projets</h1>
    <div class="content">
        <div class="images" >
            <h1 class="titre-projet" :class="{ 
                cristaline: cristalineT, 
                piscine: piscineT,
                cove: coveT,
            }">{{titre}}</h1>
            <img src="" alt="" class="dot" :class="{
                cristaline: cristalineT, 
                piscine: piscineT,
                cove: coveT,
            }" >
            <div class="image" :class="{
                cristaline: cristalineT, 
                piscine: piscineT,
                cove: coveT,
            }">
                <img :src="image" alt="">
            </div>
        </div>
        <div class="projets">
            <div v-for="projet in projets" :key="projet.id" class="projet" @mouseenter="ChangeName(projet.id,projet.nom)">
                0{{projet.id}}
                <h2>{{projet.nom}}</h2>
                <a href="http://">Voire plus <img src="../assets/projet/voire-plus.png" alt="" class=""></a>
                <!-- <a :href="{{ lien }}">Voire plus <img src="../assets/voire-plus.png" alt=""></a> -->
            </div>
        </div>
    </div>
</section>
</template>

<script> 

import Cristaline from "../assets/projet/Cristaline.png";
import Piscine from "../assets/projet/piscine.png";
import Cove from "../assets/projet/cove.png";


    export default({
        data() {
            return{
                titre: "Cristaline",
                cristalineT: true,
                piscineT: false,
                coveT: false,
                image: Cristaline,
                projets: [
                    {id: 1, nom: "Cristaline"},
                    {id: 2, nom: "Piscine"},
                    {id: 3, nom: "Cove"},
                    {id: 4, nom: "Cristaline"},

                ]
            };
        },
        methods: {
            ChangeName(_,name){
                this.titre = name;
                if (name == "Cristaline") {
                    this.image = Cristaline;
                    this.cristalineT = true;
                    this.coveT = false
                    this.piscineT = false
                }
                if (name == "Piscine") {
                    this.image = Piscine;
                    this.piscineT = true;
                    this.cristalineT = false;
                    this.coveT = false;
                }
                if (name == "Cove") {
                    this.image = Cove;
                    this.coveT = true;
                    this.cristalineT = false;
                    this.piscineT = false;
                }
            }
        },
    })
</script>



<style scoped>

h1{
    z-index: 9;
    position: relative;
    text-align: center;
    font-size: 120px;
    padding: 0 5px;
    margin: 0 5px;
}

h1:after{
    z-index: -1;
    content: '';
    position: absolute;
    background-color: #FFF7AE;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    height: 183px;
    width: 535px;
}

div.content{
    margin-top: 10vh ;
    margin-bottom: 5.5vh ;
    display: flex;
    justify-content: space-around;
}

h1.titre-projet{
        font-size: 100px;
}
h1.titre-projet.cristaline:after{
    background-color: #DAEEF7;
    height: 140px;
    width: 365px;
}
h1.titre-projet.piscine:after{
    background-color: #FEF1DA;
    height: 140px;
    width: 365px;
}
h1.titre-projet.cove:after{
    background-color: #D9C9FE;
    height: 140px;
    width: 365px;
}


div.images{
    position: sticky;
    top: 5%;
    align-self: flex-start;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.images img.dot{
    position: absolute;
    transform: translate(-70%, -15%);
}

div.images img.dot.cristaline{
    content: url(../assets/projet/dot-cristaline.svg);
}
div.images img.dot.piscine{
    content: url(../assets/projet/dot-piscine.svg);
}
div.images img.dot.cove{
    content: url(../assets/projet/dot-cove.svg);
}

div.images .image{
    width: 32.5vw;
    height: 32.5vw;
    overflow: hidden;
    margin-top: 5vh;
}

div.images .image img{
    transform: translate(-50%,-50%);
    background: #FFF;
    margin-top: 50%;
    margin-left: 50%;
    width: 32.5vw;
}
div.images .image:before{
    content: "";
    position: absolute;
    width: 32.5vw;
    height: 32.5vw;
    transform: translate(-2.5%,2.5%);
}

div.images .image.cristaline:before{
    background: #C4FFAF;
}
div.images .image.piscine:before{
    background: #DD6254;
}
div.images .image.cove:before{
    background: #F6E262;
}


div.projets{
    border: solid 2px #000;
    border-left: none;
    border-right: none;
    width: 40vw;
}

div.projet{
    position: relative;
    border: solid 2px #000000;
    border-left: none;
    border-right: none;
    font-family: BigShoulders;
    font-size: 25px;
}
div.projet h2{
    font-family: BigShoulders;
    font-size: 50px;
    margin: -2vh 0vw 25vh 2vw;
}
div.projet a{
    display: flex;
    justify-content: flex-end ;
    align-items: center;
    font-family: BigShoulders;
    font-size: 17px;
    letter-spacing: 0.07em;
    color: #000;
    text-decoration: none;
    margin: 0vh 5vw 3vh 0vw;
}
div.projet a img{
    padding-left: 1vw ;
}


</style>