<template>
  <nav-bar>
    <accueil-page></accueil-page>
    <mes-projets></mes-projets>
    <contact-me></contact-me>
  </nav-bar>
</template>

<script>
import NavBar from './components/nav/NavBar.vue'
import AccueilPage from './components/AccueilPage.vue'
import MesProjets from './components/MesProjets.vue'
import ContactMe from './components/ContactMe.vue'

export default {
  name: 'App',
  components: {
    NavBar,
    AccueilPage,
    MesProjets,
    ContactMe
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800&family=Roboto&display=swap');
@font-face{
    font-family: "BigShoulders";
    src: local("BigShoulders"),
    url(./font/BigShouldersDisplay-ExtraBold.ttf);
}
/* html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  } */
body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

*{
  font-family: 'Big Shoulders Display', cursive;
    font-family: 'Roboto', sans-serif;
}
h1{
  font-family: "BigShoulders";
  letter-spacing: 0.07em;
}

body::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
}
body::-webkit-scrollbar-track {
    background-color: #fff;
}
body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
}
body::-webkit-scrollbar-button {
    display:none;
}
</style>
