<template>
<section  v-show="!menu">
    <header>
        Brune Bnd
        <nav>
            <ul>
                <button @click="AffichageMenu">menu <img src="../../assets/burger-menu/burger.svg" alt=""></button>
            </ul>
        </nav>
    </header>
    <slot></slot>
</section>
<section v-show="menu">
    <header>
        Brune Bnd
        <nav>
            <ul>
                <button @click="AffichageMenu">retour <img src="../../assets/burger-menu/burger.svg" alt=""></button>
            </ul>
        </nav>
    </header>
    <div class="separation">
        <img src="../../assets/burger-menu/img-burgermenu.png" alt="" class="me">
        <div class="link-page">
            <div class="link">
                <a class="title about" href="">About me</a>
                <a class="title projet" href="">Mes Projets</a>
                <a class="title contact" href="">Contact</a>
            </div>
        </div>
        <div class="actu">
            <div class="img">
                <img src="../../assets/burger-menu/img-actu.png" alt="">
            </div>
            <p>suivez moi sur 
                <a href=""><img src="../../assets/burger-menu/icon/facebook.png" alt=""></a>
                <a href=""><img src="../../assets/burger-menu/icon/instagram.png" alt=""></a>
                <a href=""><img src="../../assets/burger-menu/icon/twiter.png" alt=""></a>
                <a href=""><img src="../../assets/burger-menu/icon/linkdin.png" alt=""></a>
                <a href=""><img src="../../assets/burger-menu/icon/pinterest.png" alt=""></a>
            </p>
        </div>
    </div>
</section>

</template>

<script>


export default {
  data() {
      return{
          menu: false,
          test:"testestest"
      };
  },
  methods: {
      AffichageMenu() {
          this.menu =! this.menu;
      },
  }
}
</script>


<style scoped>
    header{
        position: fixed;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4vh 2vw;
        font-family: "BigShoulders";
        font-size: 35px;
    }
    nav {
        position: fixed;
        right: 2vw;
    }
        
    ul button{
        border: none;
        background-color: rgba(255, 255, 255, 0);
        display: flex;
        align-items: center;
        font-size: 25px;
    }
    ul button:hover{
        cursor: pointer;
    }
    ul button img{
        margin-left: 1vw;
    }

    div.separation{
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    div.separation img.me{
        height: 70vh;
    }
    div.link{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        top: 55vh;
        left: 24vw;
        transform: translate(-50%,-50%);
    }
    div.link a.title{
        text-decoration: none;
        font-family: BigShoulders;
        color: #000;
        z-index: 9;
        position: relative;
        text-align: center;
        font-size: 80px;
        margin: 5vh 0 ;
    }
    div.link a.title.titre-projet{
        font-size: 100px;
    }
    div.link a.title:after{
        z-index: -1;
        content: '';
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        transition: 500ms;
    }
    div.link a.title.about:after{
        background-color: #A9DEF9;
        height: 125px;
        width: 245px;
    }
    div.link a.title.projet:after{
        background-color: #FFF7AE;
        height: 125px;
        width: 300px;
    }
    div.link a.title.contact:after{
        background-color: #E4C1F9;
        height: 100px;
        width: 200px;
    }
    div.link a.title:hover:after{
        height: 10px;
        top: 100%;
    }

    div.actu{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 55vh;
        right: -10vw
    }
    div.actu .img{
        width: 40vw;
        height: 50vh ;
        overflow: hidden;
        border-radius: 30px;
    }
    div.actu .img:before{
        z-index: -1;
        content: url(../../assets/burger-menu/dot-actu.svg);
        position: absolute;
        transform: translate(-22.5%,-37%);
    }
    div.actu .img:after{
        z-index: -1;
        content: url(../../assets/burger-menu/dot-actu.svg);
        position: absolute;
        transform: translate(-50%,-19%);
        bottom: 0%;
    }
    div.actu .img img{
        width: 100%;
        object-fit: contain;
    }
    div.actu p{
        display: flex;
        align-items: center;
        font-family: Roboto;
        font-size: 25px;
    }
    div.actu p a{
        margin: 0 0 0 2.5vw;
    }

</style>